.home-menu {
    padding: 1em;
    padding-right: 2em;
    position: relative;
    background-color: #dddddd;
}

@media (min-width: 48em) {
    .home-menu ul {
        float: right;
    }
}

#users a:link {
    color: #7291e6;
    text-decoration: none;
}

#users a:visited {
    color: #7291e6;
    text-decoration: none;
}

#users a:hover {
    text-decoration: underline;
}

#footer {
    padding: 15px;
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.center-text {
    text-align: center;
}

.center-text:after {
    text-align: left;
}
.center-text:before {
    text-align: left;
}

.rounded {
    border-radius: 5px;
}

.padded {
    margin-top: 10px;
}

select {
    border: 1px solid #111;
    background: transparent;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: url(/static/images/dropdown_arrow_32x32.png) 96% / 15% no-repeat #eee;*/
    background: url(/static/images/dropdown_arrow_32x32.png) 96% / 24px no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

