{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block javascript %}
<script>
UserList.init();
var add_users = function(data) {
    $("#users").empty();
    $("#users").append(
        '<thead>' +
        '<th>#</th><th>Name</th><th>Status</th><th>Classification</th><th>Graduating</th>' +
        '</thead>'
    )
    $.each(data.users, function(i, user) {
        if (!user.classification) {
            user.classification = "None";
        }

        if (!user.grad_semester) {
            user.grad_semester = "None";
        }
        $("#users").append(
            '<tr>' +
            '<td>' + (i+1) + '</td>' +
            '<td><a href="/profile/' + user.user_id + '">' + user.fname + ' ' + user.lname + '</a>' + '</td>' +
            '<td align="center">' + status_map[user.active] + '</td>' +
            '<td align="center">' + caps(user.classification) + '</td>' +
            '<td align="center">' + caps(user.grad_semester) + ' ' + user.grad_year + '</td>' +
            '</tr>'
        );
    });
};

$(document).ready(function() {
    var default_selection = document.querySelector("#filter option[selected]").value;
    UserList.get_users(default_selection, add_users);

    $('#filter').change(function(e) {
        UserList.get_users(this.value, add_users);
    });
});

</script>
{% endblock %}
{% block content %}
    <h1> Members </h1>
    <form class="pure-form centered">
        <select class="pure-u-1-4" id="filter">
            <option value="active" selected="selected">Active</option>
            <option value="inactive">Inactive</option>
            <option value="both">Both</option>
        </select>
    </form>

    <table id="users" class="pure-table centered padded">
    </table>
{% endblock %}

