{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block content %}
    <h1> Your Points </h1>
    <table class="point-display">
        <tr>
            <td class="progress-label">&gt; Philanthropy</td>
            <td class="progress-bar-container">
                <table class="progress-bar">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
            <td class="remaining-points">5 points needed</td>
        </tr>

        <tr>
            <td class="progress-label">&gt; Meetings</td>
            <td class="progress-bar-container">
                <table class="progress-bar">
                    <tr>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td><div class="filled-progress" style="width:50%; height:100%;"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
            <td class="remaining-points">3.5 points needed</td>
        </tr>

        <tr>
            <td class="progress-label">&gt; Sisterhood</td>
            <td class="progress-bar-container">
                <table class="progress-bar">
                    <tr>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                        <td class="filled-progress"></td>
                    </tr>
                </table>
            </td>
            <td class="finished-points">0 points needed</td>
        </tr>
    </table>
{% endblock %}
