{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/admin', 'admin', 'Admin'),
    ('/members', 'members', 'Members'),
] %}
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="/" class="pure-menu-heading pure-menu-link">Texas Bluebonnets</a>
    <ul class="pure-menu-list">
        {% for href, id, caption in navigation_bar %}
        <li class="pure-menu-item{% if id == active_page %} pure-menu-selected{% endif %}">
            <a href="{{ href|e }}" class="pure-menu-link">{{ caption|e }}</a>
        </li>
        {% endfor %}
        {% if user_data %}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover{% if 'profile' == active_page %} pure-menu-selected{% endif %}">
            <a href="/profile/{{ user_data.user_id }}" class="pure-menu-link">{{ user_data.first_name }}</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Dashboard</a></li>
                <li class="pure-menu-item"><a href="/profile/{{ user_data.user_id }}" class="pure-menu-link">Profile</a></li>
                <li class="pure-menu-item"><a href="{{ logout_url }}" class="pure-menu-link">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li class="pure-menu-item{% if 'login' == active_page %} pure-menu-selected{% endif %}">
            <a href="/login" class="pure-menu-link">Login</a>
        </li>
        {%endif%}
    </ul>
</div>
