{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1> Index </h1>
    <p class="important"> This is important! </p>
    <p>
        Welcome to the main page{% if user_data %} {{user_data.first_name}}{% endif %}!
    </p>
    {% if user_data %}
        <a href={{logout_url}}>Logout</a>
    {% else %}
        <a href={{login_url}}>Login</a>
    {% endif %}
{% endblock %}
