{% extends "base.html" %}
{% set active_page = "members" %}
{% block title %}Members{% endblock %}
{% block javascript %}
<script>
var get_users = function(filter) {
    status_map = {true: 'Active', false: 'Inactive'};

    var params = {
        filter: filter
    };
    var params_str = $.param(params);
    $.get("/users?" + params_str, function(data) {
        $("#users").empty();
        $("#users").append(
            '<thead>' +
            '<th>#</th><th>Name</th><th>Status</th>' +
            '</thead>'
        )
        $.each(data.users, function(i, user) {
            $("#users").append(
                '<tr>' +
                '<td>' + (i+1) + '</td>' +
                '<td><a href="' + user.profile + '">' + user.fname + ' ' + user.lname + '</a>' + '</td>' +
                '<td align="center">' + status_map[user.active] + '</td>' +
                '</tr>'
            );
        });
    });
};

$(document).ready(function() {
    var default_selection = document.querySelector("#filter option[selected]").value;
    get_users(default_selection);

    $('#filter').change(function(e) {
        get_users(this.value);
    });
});

</script>
{% endblock %}
{% block content %}
    <h1> Members </h1>
    <p class="center-text">
        <label class="dropdown">
            <select id="filter">
                <option value="active" selected="selected">Active</option>
                <option value="inactive">Inactive</option>
                <option value="both">Both</option>
            </select>
        </label>
    </p>
    <table id="users" class="pure-table centered">
    </table>
{% endblock %}

