{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block javascript %}
<script>
var caps = function(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

var get_users = function(filter) {
    status_map = {true: 'Active', false: 'Inactive'};

    var params = {
        filter: filter
    };
    var params_str = $.param(params);
    $.get("/users?" + params_str, function(data) {
        $("#users").empty();
        $("#users").append(
            '<thead>' +
            '<th>#</th><th>Name</th><th>Status</th><th>Classification</th><th>Graduating</th>' +
            '</thead>'
        )
        $.each(data.users, function(i, user) {
            $("#users").append(
                '<tr>' +
                '<td>' + (i+1) + '</td>' +
                '<td><a href="' + user.profile + '">' + user.fname + ' ' + user.lname + '</a>' + '</td>' +
                '<td align="center">' + status_map[user.active] + '</td>' +
                '<td align="center">' + caps(user.classification) + '</td>' +
                '<td align="center">' + caps(user.grad_semester) + ' ' + user.grad_year + '</td>' +
                '</tr>'
            );
        });
    });
};

$(document).ready(function() {
    var default_selection = document.querySelector("#filter option[selected]").value;
    get_users(default_selection);

    $('#filter').change(function(e) {
        get_users(this.value);
    });
});

</script>
{% endblock %}
{% block content %}
    <h1> Members </h1>
    <form class="pure-form centered">
        <select class="pure-u-1-4" id="filter">
            <option value="active" selected="selected">Active</option>
            <option value="inactive">Inactive</option>
            <option value="both">Both</option>
        </select>
    </form>

    <table id="users" class="pure-table centered padded">
    </table>
{% endblock %}

