{% extends "base.html" %}
{% set active_page = "members" %}
{% block title %}Members{% endblock %}
{% block content %}
    <h1> Members </h1>
    Welcome to the members screen{% if user_data %} {{user_data.first_name}} {{user_data.last_name}} {% endif %}!
    <div>
        {% for user in users %}
        <a href="/profile/{{user.user_id}}">{{ user.first_name }}</a>
        {% endfor %}
    </div>
    {% if user_data %}
    <a href={{logout_url}}>logout</a>
    {% else %}
    <a href={{login_url}}>login</a>
    {% endif %}
{% endblock %}

