{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block javascript %}
<script>
get_point_categories = function() {
    console.log("Getting point categories!");
    $.ajax({
        url: "/api/point-categories",
    }).success(function(data) {
        $('#point-categories').empty();
        $('#parent-categories').empty();

        // Add a none option for parent categories
        $('#parent-categories').append($('<option value="none">None</option>'));

        $.each(data, function(key, value) {
            // Add to the Point Categories display
            li = $('<li>' + key + '</li>');
            $('#point-categories').append(li);
            if (value.length > 0) {
                ul = $('<ul></ul>');
                $.each(value, function(index, sub_cat) {
                    ul.append($('<li>' + sub_cat + '</li>'));
                });
                $('#point-categories').append(ul);
            }

            // Add as an option for the select element
            option = $('<option value="' + key + '">' + key + "</option>");
            $('#parent-categories').append(option);
        });
    });
}

$(function() {
    $('#category-form').submit(function (event) {
        var data = {
            name: $('input[name=name]').val(),
            parent: $('#parent-categories')[0].value,
        }

        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            success: function() {
                $('#outcome').html('<span style="color: green">Successfully saved!</span>');
                get_point_categories();
            }
        }).fail(function(resp) {
            // TODO This should be more user friendly
            $('#outcome').html('<span style="color: red">There was a problem!</span>');
        });
        event.preventDefault();
    });

    get_point_categories();
});
</script>
{% endblock %}
{% block content %}
    <h1> Point Categories </h1>
    <ul id='point-categories'></ul>

    <h1> Create a New Category </h1>
    <form id="category-form" method="post" action="/api/point-categories" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label>New Category</label>
            <input type="text" name="name" />
        </div>

        <div class="pure-control-group">
            <label>Parent</label>
            <select id="parent-categories" name="categories"></select>
        </div>

        <div class="pure-controls">
            <input type="submit" class="pure-button" value="Save"/>
        </div>
    </form>

    <p id="outcome"></p>

{% endblock %}
