{% extends "base.html" %}
{% block title %}No Profile{% endblock %}
{% block javascript %}
<script>
remove_exception = function(i) {
    $.ajax({
        url: '/api/users/{{target_user.user_id}}/point-exceptions/' + i,
        type: 'DELETE',
        success: function() {
            $('#outcome').html('<span style="color: green">Successfully deleted!</span>');
            get_point_exceptions();
        }
    }).fail(function(data) {
        if (data.status === 403) {
            $('#outcome').html('<span style="color: red">' +
                    data.responseJSON['message'] +
                    '</span>');
        }
        else {
            $('#outcome').html('<span style="color: red">There was a problem!</span>');
        }
        // TODO This should be more user friendly
    });
}

get_point_exceptions = function() {
    var params = {
        target_user_id: "{{ target_user.user_id }}",
    };

    var params_str = $.param(params);
    $.get('/api/users/{{target_user.user_id}}', function(data) {
        $("#point-exceptions").empty();
        table = $("<table class='pure-table'></table>");
        table.append($("<thead></thead>")
                .append($("<tr></tr>")
                    .append("<th>Type</th><th># Required</th><th>Delete</th>")));
        tbody = $("<tbody></tbody>");

        $.each(data.point_exceptions, function(i, exception) {
            tr = $("<tr></tr>");
            tr.append("<td>" + exception.point_category + "</td><td align='center'>" + exception.points_needed + "</td>");

            {% if check_perms(user_data, "officer") %}
            icon = $("<i class='fa fa-trash' />");
            td = $("<td align='center'></td>");
            btn = $("<button type='button' class='pure-button rounded' />").click(function() {
                remove_exception(i);
            });

            btn.append(icon);
            td.append(btn);
            {% endif %}

            tr.append(td);
            tbody.append(tr);
        });
        table.append(tbody)
        $('#point-exceptions').append(table);
    });
}

$(function () {
    $('#profile-form').submit(function (event) {
        var data = {
            fname: $('input[name=fname]').val(),
            lname: $('input[name=lname]').val(),
            target_user_id: "{{ target_user.user_id }}",
            classification: $("#classification")[0].value,
            grad_semester: $("#grad-semester")[0].value,
            grad_year: $("#grad-year")[0].value,
            active: $("#active").is(":checked"),
        }

        $.ajax({
            url: $(this).attr('action'),
            type: 'PUT',
            data: data,
            success: function() {
                $('#outcome').html('<span style="color: green">Successfully saved!</span>');
                if (data['fname'] !== "{{target_user.first_name}}" || data['lname'] !== "{{target_user.last_name}}" ) {
                    window.location.replace("/profile/{{target_user.user_id}}");
                }
            }
        }).fail(function(resp) {
            // TODO This should be more user friendly
            $('#outcome').html('<span style="color: red">There was a problem!</span>');
        });
        event.preventDefault();
    });

    {% if check_perms(user_data, "officer") %}
    $('#add-exception').submit(function (event) {
        console.log($('select[name=point-categories]'));
        $.post($(this).attr('action'), {
            point_category: $('select[name=point-categories]').val(),
            points_needed: $('input[name=num]').val(),
            target_user_id: "{{ target_user.user_id }}",
        }, function (data) {
            $('#outcome').html('<span style="color: green">Successfully saved!</span>');
            get_point_exceptions()
        }).fail(function(data) {
            $('#outcome').html('<span style="color: red">There was a problem!</span>');
        });
        event.preventDefault();
    });

    PointCategories.init();
    PointCategorySelectView.init('#point-categories', "");
    PointCategories.get_point_categories(PointCategorySelectView.render);
    {% endif %}
    get_point_exceptions();
});
</script>
{% endblock %}
{% block content %}
    <h2> User Profile </h2>
    <a href="/dashboard/{{target_user.user_id}}">Link to User Dashboard</a>
    <form id="profile-form" method="put" action="/api/users/{{target_user.user_id}}" class="pure-form pure-form-aligned centered-form">
        <div class="pure-control-group">
            <label for="fname">First Name</label>
            <input class="pure-u-1-2" type="text" id="fname" name="fname" value={{target_user.first_name}} />
        </div>

        <div class="pure-control-group">
            <label for="lname">Last Name</label>
            <input class="pure-u-1-2" type="text" id="lname" name="lname" value={{target_user.last_name}} />
        </div>

        <div class="pure-control-group">
            <label for="classification">Classification</label>
            <select class="pure-u-1-2" id="classification" name="classification">
                <option value="freshman" {% if target_user.classification == "freshman" %}selected{%endif%}>Freshman</option>
                <option value="sophomore"{% if target_user.classification == "sophomore" %}selected{%endif%}>Sophomore</option>
                <option value="junior" {% if target_user.classification == "junior" %}selected{%endif%}>Junior</option>
                <option value="senior" {% if target_user.classification == "senior" %}selected{%endif%}>Senior</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="grad-semester">Graduation Semester</label>
            <select class="pure-u-1-4" id="grad-semester" name="grad-semester">
                <option value="spring" {% if target_user.graduation_semester == "spring" %}selected{%endif%}>Spring</option>
                <option value="fall" {% if target_user.graduation_semester == "fall" %}selected{%endif%}>Fall</option>
            </select>
            <input class="pure-u-1-4" type="text" id="grad-year" name="grad-year" value={{target_user.graduation_year}} />
        </div>

        <div class="pure-control-group">
            <label for="active">Active</label>
            <input type="checkbox" id="active" name="active" {% if target_user.active %}checked{%endif%} />
        </div>

        <div class="pure-controls">
            <input type="submit" class="pure-button" value="Save"/>
        </div>
    </form>
    <p id="outcome"></p>

    <h2>Point Reductions</h2>

    {% if check_perms(user_data, "officer") %}
    <form id="add-exception" method="post" action="/api/users/{{target_user.user_id}}/point-exceptions" class="pure-form pure-form-aligned centered-form">
        <div id="point-exceptions"></div>
        <div class="pure-control-group">
            <label for="point-categories">Point Category</label>
            <select id="point-categories" name="point-categories"></select>
        </div>

        <div class="pure-control-group">
            <label for="num">Points Required</label>
            <input type="text" id="num" name="num" />
        </div>

        <div class="pure-controls">
            <input type="submit" class="pure-button" value="Add" />
        </div>
    </form>
    {% else %}
    <div id="point-exceptions"></div>
    {% endif %}
{% endblock %}
